.container-products {
  max-width: 800px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgray;
  margin: 0 auto;
  margin-left: 30px;
}
.product-title {
  width: 45%;
}
.price {
  width: 15%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.quantity {
  width: 10%;
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding-top: 50px;
}
.total {
  width: 10%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.product {
  width: 45%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  padding-left: 50px;
  border-bottom: 1px solid lightgray;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.products img {
  width: 60px;
  align-content: center;
}
.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}
.basketTotalTitle {
  width: 30%;
}
.basketTotal {
  width: 10%;
}
